In [1]:
import pandas as pd

# To dispaly data present in dataset 
data = pd.read_csv("./ipl-sold-players.csv")
print(data)

     Season               Name Nationality          Type  \
0      2023    Ajinkya Rahane      Indian        Batter
1      2023     Bhagath Varma      Indian   All-Rounder
2      2023     Kyle Jamieson    Overseas        Bowler
3      2023       Ajay Mandal      Indian   All-Rounder
4      2023    Nishant Sindhu      Indian   All-Rounder
..      ...                ...         ...           ...
279    2022  Fazalhaq Farooqi    Overseas        Bowler
280    2022       Sean Abbott    Overseas        Bowler
281    2022         R Samarth      Indian       Batsman
282    2022    Shashank Singh      Indian   All-Rounder
283    2022     Saurabh Dubey      Indian        Bowler

                     Team         Price
0     Chennai Super Kings    50,00,000
1     Chennai Super Kings    20,00,000
2     Chennai Super Kings  1,00,00,000
3     Chennai Super Kings    20,00,000
4     Chennai Super Kings    60,00,000
..                    ...           ...
279   Sunrisers Hyderabad    50,00,000
280   Sunrisers Hyderabad  2,40,00,000
281   Sunrisers Hyderabad    20,00,000
282   Sunrisers Hyderabad    20,00,000
283   Sunrisers Hyderabad    20,00,000

[284 rows x 6 columns]

In [4]:
# To dispaly data present in columns
data[['Season', 'Name']]

     Season               Name
0      2023    Ajinkya Rahane
1      2023     Bhagath Varma
2      2023     Kyle Jamieson
3      2023       Ajay Mandal
4      2023    Nishant Sindhu
..      ...                ...
279    2022  Fazalhaq Farooqi
280    2022       Sean Abbott
281    2022         R Samarth
282    2022    Shashank Singh
283    2022     Saurabh Dubey

[284 rows x 2 columns]

In [5]:
# To display top 5 rows of dataset
data.head()

,Season,Name,Nationality,Type,Team,Price
0,2023,Ajinkya Rahane,Indian,Batter,Chennai Super Kings,"50,00,000"
1,2023,Bhagath Varma,Indian,All-Rounder,Chennai Super Kings,"20,00,000"
2,2023,Kyle Jamieson,Overseas,Bowler,Chennai Super Kings,"1,00,00,000"
3,2023,Ajay Mandal,Indian,All-Rounder,Chennai Super Kings,"20,00,000"
4,2023,Nishant Sindhu,Indian,All-Rounder,Chennai Super Kings,"60,00,000"

In [6]:
# To display data present in row
data.iloc[0]

Season                         2023
Name                Ajinkya Rahane
Nationality                 Indian
Type                        Batter
Team            Chennai Super Kings
Price                    50,00,000
Name: 0, dtype: object

In [7]:
data.iloc[-1]

Season                         2022
Name                 Saurabh Dubey
Nationality                 Indian
Type                        Bowler
Team            Sunrisers Hyderabad
Price                    20,00,000
Name: 283, dtype: object

In [8]:
# To display the last 5 rows in dataset
data.tail()

,Season,Name,Nationality,Type,Team,Price
279,2022,Fazalhaq Farooqi,Overseas,Bowler,Sunrisers Hyderabad,"50,00,000"
280,2022,Sean Abbott,Overseas,Bowler,Sunrisers Hyderabad,"2,40,00,000"
281,2022,R Samarth,Indian,Batsman,Sunrisers Hyderabad,"20,00,000"
282,2022,Shashank Singh,Indian,All-Rounder,Sunrisers Hyderabad,"20,00,000"
283,2022,Saurabh Dubey,Indian,Bowler,Sunrisers Hyderabad,"20,00,000"

In [10]:
# To dispaly number of rows and columns present in a dataset
data.shape

(284, 6)

In [2]:
print("hello")

hello

In [6]:
import pandas as pd

# To dispaly data present in dataset 
data = pd.read_csv("./ipl-sold-players.csv")

# To get dtype of each column
print(data.dtypes)

Season          int64
Name           object
Nationality    object
Type           object
Team           object
Price          object
dtype: object

In [8]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Season       284 non-null    int64
 1   Name         284 non-null    object
 2   Nationality  284 non-null    object
 3   Type         284 non-null    object
 4   Team         284 non-null    object
 5   Price        284 non-null    object
dtypes: int64(1), object(5)
memory usage: 13.4+ KB
None

In [9]:
# Lecture - 3

In [10]:
# get the first row
print(data.loc[0])

Season                         2023
Name                Ajinkya Rahane
Nationality                 Indian
Type                        Batter
Team            Chennai Super Kings
Price                    50,00,000
Name: 0, dtype: object

In [14]:
# get the last row
print(data.tail(1))

     Season            Name Nationality     Type                  Team  \
283    2022  Saurabh Dubey      Indian   Bowler    Sunrisers Hyderabad

          Price
283  20,00,000

In [13]:
# get the first row
print(data.head(1))

   Season             Name Nationality     Type                  Team  \
0    2023  Ajinkya Rahane      Indian   Batter    Chennai Super Kings

        Price
0  50,00,000

In [16]:
# subsetting multiple rows
print(data.loc[[0, 10, 20]])

    Season              Name Nationality          Type  \
0     2023   Ajinkya Rahane      Indian        Batter
10    2023    Manish Pandey      Indian        Batter
20    2023  Shakib Al Hasan    Overseas   All-Rounder

                      Team         Price
0      Chennai Super Kings    50,00,000
10          Delhi Capitals  2,40,00,000
20   Kolkata Knight Riders  1,50,00,000

In [17]:
data.iloc[-1]

Season                         2022
Name                 Saurabh Dubey
Nationality                 Indian
Type                        Bowler
Team            Sunrisers Hyderabad
Price                    20,00,000
Name: 283, dtype: object

In [1]:
# slicing

In [4]:
import pandas as pd

# To dispaly data present in dataset 
data = pd.read_csv("./ipl-sold-players.csv")

data.loc[:, ['Name']]

                  Name
0      Ajinkya Rahane
1       Bhagath Varma
2       Kyle Jamieson
3         Ajay Mandal
4      Nishant Sindhu
..                 ...
279  Fazalhaq Farooqi
280       Sean Abbott
281         R Samarth
282    Shashank Singh
283     Saurabh Dubey

[284 rows x 1 columns]